<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gemini SQL Query Tool</title>
  </head>
  <body>
    <h1>Gemini App To Retrieve SQL Data</h1>
    <form action="/" method="POST">
      <label for="question">Enter your SQL query:</label><br />
      <input type="file" id="file" name="file" />
      <input type="text" id="question" name="question" /><br /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
